policy_module(EPPO, 1.100.1)

########################################
#
# Declarations
#

type EPPO_t;
type EPPO_exec_t;
init_daemon_domain(EPPO_t, EPPO_exec_t)

permissive EPPO_t;

type EPPO_initrc_exec_t;
init_script_file(EPPO_initrc_exec_t)

type EPPO_conf_t;
files_type(EPPO_conf_t)

type EPPO_var_lib_t;
files_type(EPPO_var_lib_t)

type EPPO_var_run_t;
files_type(EPPO_var_run_t)

type EPPO_port_t;
corenet_port(EPPO_port_t)

########################################
#
# EPPO local policy
#
allow EPPO_t self:process { fork };

allow EPPO_t self:fifo_file rw_fifo_file_perms;
allow EPPO_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(EPPO_t, EPPO_conf_t, EPPO_conf_t)
manage_files_pattern(EPPO_t, EPPO_conf_t, EPPO_conf_t)

manage_dirs_pattern(EPPO_t, EPPO_var_lib_t, EPPO_var_lib_t)
manage_files_pattern(EPPO_t, EPPO_var_lib_t, EPPO_var_lib_t)
files_var_lib_filetrans(EPPO_t, EPPO_var_lib_t, { dir file })

manage_dirs_pattern(EPPO_t, EPPO_var_run_t, EPPO_var_run_t)
manage_files_pattern(EPPO_t, EPPO_var_run_t, EPPO_var_run_t)

sysnet_dns_name_resolve(EPPO_t)
corenet_all_recvfrom_unlabeled(EPPO_t)

allow EPPO_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(EPPO_t)
corenet_tcp_sendrecv_generic_node(EPPO_t)
corenet_tcp_sendrecv_all_ports(EPPO_t)
corenet_tcp_bind_generic_node(EPPO_t)

gen_require(`
    type EPPO_port_t;
')
allow EPPO_t EPPO_port_t:tcp_socket name_bind;

gen_require(`
    type EPPO_port_t;
')
allow EPPO_t EPPO_port_t:tcp_socket name_connect;

domain_use_interactive_fds(EPPO_t)

files_read_etc_files(EPPO_t)

miscfiles_read_localization(EPPO_t)

sysnet_dns_name_resolve(EPPO_t)

allow EPPO_t EPPO_exec_t:file execute_no_trans;
allow EPPO_t self:process setsched;
corecmd_exec_ls(EPPO_t)
corenet_tcp_connect_http_port(EPPO_t)
dev_read_urand(EPPO_t)
fs_getattr_xattr_fs(EPPO_t)
kernel_read_system_state(EPPO_t)
